<!-- file name : about.ejs
   Name : Rohit
   Student ID : 301315173
	Date : 28-01-2023 -->




    <section class="aboutus" id="aboutus">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>About me</h2>
                <h3>A small introduction about my self</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media"><img src="/Assests/images/photo.jpeg"
                alt="user photo"></div>
            <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
              <h5>Rohit</h5>
              <h4>Webdesigner &amp; Web Developer</h4>
              <p>Hello! I’m Rohit, and I’m looking for a position as a web designer.
                I’ve been working in web design for two years, and I love it. I’m constantly learning new things, and I love the challenge of creating something beautiful and functional.
                I have experience with websites, including social media pages, blogs, and e-commerce sites. But my passion is in creating elegant, minimalist designs that can be used as platforms for engaging content or as stand-alone pieces of art in their own right.</p>
             
              <p><a role="button" href="/Assests/images/Rohit's Resume.pdf" download="Rohit Resume"
                  class="btn btn-primary btn-lg">Download Printable Resume</a></p>
            </div>
      
          </div>
        </div>
      </section>