
<!-- file name : home.ejs
   Name : Rohit
   Student ID : 301315173
	Date : 28-01-2023 -->

  <section class="homepage">
    <div>
        <div>
            <div class="para">
                <h6 class="my-4">Webdesigner &amp; Web Developer</h6>
                <h6>Coming from a background in design, I love creating pages where I’m able to actually create
                    enjoyable interactions and experiences for everyone! , I’m now
                    able to truly call myself a Front-End Developer who is currently working at Indigo!
                </h6>
                    <a class="btn btn-primary my-4" href="/about" role="button">Discover more</a>
                </div>
        </div>
    </div>
</section>