
<!-- file name : project.ejs
   Name : Rohit
   Student ID : 301315173
	Date : 28-01-2023 -->





    <section id="experience" class="myexperties">
        <div class="container">
            <div class="heading">
                <h2>Projects</h2>
            </div>
    
            <div class="row media">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="/Assests/images/memories 2.png" class="img-thumbnail" alt="...">
                </div>
                <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <h4>Memories.</h4>
                    <p>It's a kind of social media website.
                        Website have signIn or signUp feature .
                        User can Delete the picture as well.
                        Users can upload pictures.
                        And other users can react to their pictures by liking the picture.
                        Html,CSS,Material UI ,React uses for frontend.
                        Express.js and MongoDB uses for backend.
                    </p>
                </div>
            </div>
            <div class="row media">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="/Assests/images/shoping 1.png" class="img-thumbnail" alt="...">
                </div>
                <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <h4>Shoping App</h4>
                    <p> website where users buy electronics.
                        SignIn and SignUp feature.
                        User can add item to their cart.
                        Payment is handle my Razaor Pay.
                        Uses BootStrap,Razor Pay API
                        ,React.js,Express.js,Mongodb.
                    </p>
                </div>
            </div>
            <div class="row media">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <img src="/Assests/images/news monkey.png" class="img-thumbnail" alt="...">
    
                </div>
                <div class="expertiesdesc col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <h4>News Monkey</h4>
                    <p>Website where you can scroll latest news . News Fetching is done by news api . Separate columns
                        for sports ,finacial Current News.
                        General ,
                        Entertainment ,
                        Business ,
                        Health ,
                        Science ,
                        Sports ,
                        Technology.
                    </p>
                </div>
            </div>
        </div>
    </section>